[submodule "deps/zydis"]
	path = deps/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "deps/argparse"]
	path = deps/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "deps/result"]
	path = deps/result
	url = https://github.com/At0mC3/result.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
